.custom-range::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  background-color: #0B0B0B;
  border-radius: 50%;
  cursor: pointer;

  border: 3px solid #FFFFFF
}

.custom-range::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background-color: #0B0B0B;
  border-radius: 50%;
  cursor: pointer;
  border: 3px solid #FFFFFF
}

@media (min-width: 768px) {
 
  .custom-range::-webkit-slider-thumb {
    appearance: none;
    width: 34px;
    height: 34px;
    background-color: #0B0B0B;
    border-radius: 50%;
    cursor: pointer;
  
    border: 7px solid #FFFFFF
  }
  
  .custom-range::-moz-range-thumb {
    width: 34px;
    height: 34px;
    background-color: #0B0B0B;
    border-radius: 50%;
    cursor: pointer;
    border: 7px solid #FFFFFF
  }
}

.custom-range::-moz-range-progress{
    height: 9px;
    border-radius: 25px;
    background-color: #ECECEC;
  }

  /* Dark Theme */
.dark-theme {
  background-color: #191919;
  color: #DEDEDE;
  font-family: 'Gellix', sans-serif;
}

/* Light Theme */
.light-theme {
  background-color: #ffffff;
  color: #000000;
  font-family: 'Gellix', sans-serif;
}

.dark-theme-header {
  background-color: #202020;
  color: #DEDEDE;
  font-family: 'Gellix', sans-serif;
}

.light-theme-header {
  background-color: #ECECEC;
  color: #000000;
  font-family: 'Gellix', sans-serif;
}

.dark-theme-logo {
  background-color: #FFFFFF;
}
.light-theme-logo {
  background-color: #191919;
}